.find_customer__form,
.add_customer__form {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autocomplete {
    position: absolute;
    opacity: 0.9;
    margin-left: 42px;
    padding: 0;
    width: 260px;
    border-radius: 5px;
    background-color: white;
    list-style: none;
    color: black;
    box-shadow: 1px 1px 5px black;
    max-height: 240px;
    height: auto;
    overflow: auto;
}

.phone_input {
    flex: 1 1 !important;
    min-width: 0 !important;
    height: 40px !important;
    border-radius: 7px !important;
    padding-left: 10px !important;
}

.autocomplete__item {
    padding: 5px 10px;
}

.autocomplete__item:hover {
    background-color: #dedede;
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1) .1s all;
}

.autocomplete__item:focus {
    background-color: #dedede;
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1) .1s all;
}
