.button-style {
    overflow: hidden;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out;
    box-shadow: 1px 1px 5px black;
    user-select: none;
}

.button-style:hover {
    color: black;
    background-color: white;
    transition: .3s ease-in-out;
}

.button-style:active {
    color: black;
    background-color: #6e6e6e;
    transition: .1s ease-in-out;
}

.price-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 100vw;
    padding: 0 3px;
    font-size: 13px;
    height: 18px;
    min-width: 18px;
    position: absolute;
    transform: translateY(-33px) translateX(17px);
}

.price-label-text {
    transform: translateY(-1px);
}

.mini-navbar-item {
    cursor: pointer;
    padding: 0 10px;
}