.workers-container {
    background-color: #212529;
    width: 100%;
    min-height: 100vh;
}

.workers-box {
    padding: 5px;
    width: 500px
}

.worker-row {
    display: flex;
    border: 1px solid
}

.worker-item {
    padding: 5px;
    width: 250px;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.delete-button {
    border: none;
    width: 40px;
}

.delete-button:hover {
    background-color: gray;
}

.delete-button:active {
    background-color: #4b4b4b;
}