.more-less-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.button-item {
    font-size: 25px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #bebdbd;
    color: black;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

.amount-item {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    transform: translateY(-1px);
}

.shopping-cart-container {
    min-height: 100vh;
    padding: 10px;
    border-right: 1px solid white;
    color: white;
    width: 100%;
}

.shopping-cart-item {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.total-box {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.clear-button {
    padding: 0 4px;
    height: 40px;
    width: 80px;
    background-color: transparent;
    border: 1px solid #753e3e;
    color: #752c2c;
}

.add-button {
    margin-left: 10px;
    padding: 0;
    height: 40px;
    width: 120px;
    background: transparent;
    border: 1px solid green;
    color: green;
}

.clear-add-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}